<form action="" method="post">
  <div class="card">
    <h4 class="card-header bg bg-info text-white d-flex justify-content-between">
      <div>
        <i class="bi bi-person-lines-fill"></i>
        Chỉnh sửa hồ sơ
      </div>
      <div>
        <a href="/" class="btn btn-info" role="button" aria-pressed="true"><i class="bi bi-backspace"></i></a>
     </div>
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtUserID">UserID</label>
        <input type="text" name="UserID" id="txtUserID" class="form-control" placeholder="" readonly value="{{this.user.UserID}}">
      </div>
      <div class="form-group">
        <label for="txtUsername">Username</label>
        <input type="text" name="UserName" id="txtUsername" class="form-control" placeholder="" value="{{this.user.UserName}}">
      </div>
      <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" name="Fullname" id="txtName" class="form-control" placeholder="" value="{{this.user.Fullname}}">
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input type="email" name="Email" id="txtEmail" class="form-control" placeholder="" value="{{this.user.Email}}">
      </div>
      <div class="form-group">
        <label for="txtDOB">DayOfBirth</label>
        <input type="text" name="DayOfBirth" id="txtDOB" class="form-control" placeholder="" value="{{this.user.DayOfBirth}}">
      </div>
      <button type="submit" class="btn btn-primary"  formaction="patch">
        <i class="bi bi-check2"></i>
        Edit
      </button>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</form>