
<!--The post's detail-->
<div class="card">
  <div class="card-header h6" id="topOfPost">
   Nội dung chi tiết của bài báo
  </div>
  <div class="card-body">
    <img src="http://localhost:3030/static/imgs/posts/{{post.PostID}}/{{post.PostID}}_1.jpg" class="card-img-top " alt="...">
    <h4 class="card-title">{{post.PostTitle}}</h4>
    <p class="card-text"><small class="text-muted">{{post.TimePublic}}</small></p>
    <p class="card-text h5">Chuyên Mục:
      <a href="/posts/byCategory?id={{post.CID}}" class="badge badge-info ">{{post.CName}}</a>
      <a href="/posts/bySubcategory?id={{post.SCID}}" class="badge badge-info ">{{post.SCName}}</a>
    </p> 
    <p class="card-text">{{{post.Content}}}</p>
  </div>
  <div class="card-footer">
    <a href="#" class="btn btn-outline-success" role="button" aria-pressed="true">Download PDF</a>
  </div>
</div>

<!--Comment section-->
<div class="card mt-3">
  <h4 class="card-header">Bình luận</h4>
  <div class="card-body border border-black" style="height: 20vh;">
    <h5 class="card-title">Special title treatment</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer">
   <p class="card-text">Pagination</p>
  </div>
</div>

