<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Bootstrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
      .fixed-right {
        height: 100vh;
        z-index: 1;
      }
    </style>

    <title>ecNewsPaper</title>
  </head>
  <body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark shadow mb-4 sticky-top" style="background-color: darkTurquoise;">
        <a class="navbar-brand " href="#">
            <i class="bi bi-house-door-fill"></i>
            ecNewsPaper
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--Search-->
          <form class="form-inline my-2 my-lg-0 border border-primary">
            <input class="form-control mr-sm-2 mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                <b>
                  Search 
                  <i class="bi bi-search"></i>
                </b>
            </button>
          </form>

          <!--Sign up/ log in-->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="">
                <b>
                  <i class="bi bi-person-plus"></i>
                  Đăng ký
                </b>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <b>
                  <i class="bi bi-box-arrow-in-right"></i>
                  Đăng nhập
                </b>
              </a>
            </li>
          </ul>

          
        </div>
      </nav>

    <!--Menu home-->
    <div class="container-fluid">
       <div class="row">
        <div class="col-sm-9">
          {{{body}}}
        </div>

        <!--Categories-->
        <div class="col-sm-3 fixed-right">
          <div class="card mb-3">
            <div class="card-header text-white" style="background-color: darkTurquoise;">
              <h5>Chuyên mục</h5>
            </div>           
            <div class="accordion" id="accordionCatefories">
              {{#each lcCategories}}
                <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCatefories{{CID}}" aria-expanded="true" aria-controls="collapseCatefories{{CID}}">
                     {{CName}}
                    </button>
                  </h2>
                </div>
            
                <div id="collapseCatefories{{CID}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionCatefories">
                  <div class="list-group list-group-flush">
                     <!--SubCategories-->
                     {{#each subCategories}}
                     <a href="https://icons.getbootstrap.com/?q=search" class="list-group-item list-group-item-action">
                      {{SCName}}
                      </a>
                    {{/each}}                                               
                  </div>
                </div>
              </div>
              {{/each}}
                           
            </div>
          </div>
        </div>

       </div>

       
    </div>
    
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
  </body>
</html>